/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utility */
.white-bg {
    background-color: white;
}

.dotless-list {
    list-style-type: none;
}

.special-text {
    display: inline-block;
    font-size: 17px;
    text-align: center;
    margin-right: 10px; 
}

.mark {
    border-radius: 50%;
    height: 25px;
    width: 25px;
    line-height: 25px;
}

.tag {
    border-radius: 20px;
    color: white;
    padding:7px 20px;
}

.bottom-padding {
    padding-bottom: 65px;
}
/* end utility */

body {
    background-color: aliceblue;
}

/* header */
.header {
    padding: 10px 20px;
}

.logo {
    width: 390px;
}
/* end header */

/* main */
.container {
    margin: auto;
    margin-top: 65px;
    width: 70%;
}

/* actions */
.actions {
    padding: 15px 80px;
    border-radius: 10px 10px 0 0;
}

.button {
    font-size: 20px;
    font-weight: 200;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
}

.blue-button {
    background-color: rgb(0, 174, 255);
}

.white-button {
    border: 1px solid lightgray;
}
/* end actions */

/* tasks */
.tasks {
    margin-top: 5px;
    padding-left: 80px;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: rgb(60, 60, 60);
    border-radius: 0 0 10px 10px;
}

.sublist {
    padding-top: 65px;
}

.list-item {
    font-size: 25px;
    font-weight: 100;
    margin-top: 20px;
}

/* marks */
.checkmark {
    color: rgb(113, 207, 176);
    border: 1px solid rgb(113, 207, 176);
}

.crossmark {
    color: red;
    border: 1px solid red;  
}
/* end marks */

/* tags */
.editorial {
    background-color: rgb(0, 174, 255);
}

.q1-goals {
    background-color: rgb(166, 93, 238);
}

.recruiting {
    background-color: rgb(73, 194, 149);
}

.mobile {
    background-color: orange;
}

.website {
    background-color: rgb(255, 0, 191);
}

.sales {
    background-color: rgb(142, 201, 53);
}
/* end tags */

/* end tasks */

/* end main */