/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utility */
.white-bg {
    background-color: white;
}
/* end utility */

body {
    background-color: aliceblue;
}

/* header */
.header {
    padding: 10px 20px;
}

.logo {
    width: 390px;
}
/* end header */

/* main */
.container {
    margin: auto;
    margin-top: 65px;
    width: 70%;
}

/* actions */
.actions {
    padding: 15px 80px;
}

.button {
    font-size: 20px;
    font-weight: 200;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
}

.blue-button {
    background-color: rgb(0, 174, 255);
}

.white-button {
    border: 1px solid lightgray;
}
/* end actions */


/* end main */